.logo {
  display: flex;
  align-items: center;
  height: 64px;
  padding-left: 24px;
  background-color: #001529;
  /* border-bottom: 2px solid #e8e8e8; */
}

.trigger {
  padding: 0 24px;
  font-size: 22px;
  line-height: 64px;
  color: #f0f0f0;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger:hover {
  color: #1890ff;
}
